<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e27888a-0e95-49f2-b00c-eb9ab3cd707f/resourcegroups/DDAC_RG/providers/Microsoft.Web/sites/MaerskLineDDACWebApp</ResourceId>
    <ResourceGroup>DDAC_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklineddacwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklineddacwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskLineDDACWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaerskLineDDACWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>ChunJ95outlook.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maersklineddacdbserver.database.windows.net,1433;Initial Catalog=MaerskLineDDAC20170705085937_db;User ID=demoadmin@maersklineddacdbserver;Password=D3mo@dmin" Name="Data Source=tcp:maersklineddacdbserver.database.windows.net,1433;Initial Catalog=MaerskLineDDAC20170705085937_db;User Id=demoadmin@maersklineddacdbserver;Password=D3mo@dmin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MaerskLineDDAC.Models.ApplicationDbContext, MaerskLineDDAC" MigrationConfiguration="MaerskLineDDAC.Migrations.Configuration, MaerskLineDDAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://ChunJ95outlook.onmicrosoft.com/WebApp-maersklineddacwebapp.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>7a7349e9-0b18-4219-a107-9f34a6d1bf8f</ADClientAPPID>
    <ADClientPassword>IQDlNPtpvZp3sY3f25M00x5pt26JlQ3i/fz4iRyGa64=</ADClientPassword>
    <ADReplyUrl>https://maersklineddacwebapp.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>e7bacf77-9ae2-4785-99b7-25421239443a</ADTenantId>
    <ADPostLogoutRedirectUri>https://maersklineddacwebapp.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklineddacdbserver.database.windows.net,1433;Initial Catalog=MaerskLineDDAC20170705085937_db;User Id=demoadmin@maersklineddacdbserver;Password=D3mo@dmin</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>